@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600;700&display=swap');

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--vilagos);
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

:root {
    --vilagos: #F1F6F9;
    --szvilagos: #9BA4B5;
    --ksotet: #212A3E;
    --vsotet: #394867;
    --narancs: #F2BE22;
}

/* NAVBAR */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.logo {
    padding-left: 10vw;
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.ajanlat {
    padding-right: 10vw;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.menu {
    flex: 2;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    padding: 0 20px;
}

.menu ul li a {
    color: black;
    font-weight: 600;
}

.menu ul li a:hover {
    color: var(--szvilagos);
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: text-underline-offset 1s ease-in;
}

.menu ul li a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.ajanlat button {
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-color: var(--narancs);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajanlat button:hover {
    border: 1px solid black;
    color: black;
}

.ajanlat i {
    background-color: var(--narancs);
    padding-right: 5px;
    display: block;
}

@media screen and (max-width: 1100px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow: hidden;
    }
    .logo {
        padding: 0;
    }
    .logo-pic {
        display: none;
    }
    .hamburger {
        display: block;
        flex: 1;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .hamburger a img{
        width: 40px;
        right: 10px;
        background: none;
        right: 10px;
    }
    #myLinks {
        display: none;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu ul li {
        padding: 15px;
        text-align: center;
    }
    .menu ul li:first-child {
        padding-top: 40px;
    }
    .menu ul li:last-child {
        padding-bottom: 30px;
    }
    .menu ul li a {
        font-size: 25px;
        color: var(--narancs);
    }
    .menu ul li a.active, .menu ul li a:hover {
        text-decoration: none;
        text-align: center;
        color: black;
    }
    .ajanlat {
        display: none;
    }
}

/* HERO SECTION */

.hero-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.hero {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-left {
    justify-content: center;
}

.h-left h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 80px;
    position: relative;
}

.h-left p {
    text-align: justify;
    max-width: 35vw;
    border: 1px solid rgba(33, 42, 62, 0.1);
    padding: 25px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.h-left button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 50px;
    width: 180px;
    background-color: var(--narancs);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-top: 100px;
}

.h-left button:hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.h-left button i {
    background-color: var(--narancs);
    padding-left: 10px;
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right img:first-child {
    width: 75px;
    height: 200px;
    object-fit: cover;
    opacity: 0.1;
    display: block;
}

.h-right img:last-child {
    width: 30vw;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

@media screen and (max-width: 1100px) {
    .h-right img:first-child {
        display: none;
    }
    .h-right img:last-child {
        display: none;
    }
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .h-left h1 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .h-left p {
        max-width: 75vw;
    }
    .h-left button {
        text-align: center;
        justify-self: center;
        align-self: center;
        margin-top: 30px;
    }
    .contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* CARDS */

.cards-container {
    padding-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.cards-container img {
    width: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    width: 80vw;
}

.card-1, .card-2 {
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-1 {
    margin-right: 100px;
}

.card-2 {
    margin-left: 100px;
}

.card-1, .card-1 .c-title, .card-1 .c-desc {
    background-color: rgb(255, 241, 197);
}

.card-2, .card-2 .c-title, .card-2 .c-desc {
    background-color: rgb(255, 249, 227);
}

.card-1 img, .card-2 img {
    width: 75px;
    background: none;
}

.c-title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.c-desc {
    width: 80%;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .card-1, .card-2 {
        width: 270px;
        height: 320px;
    }
    .card-1 {
        margin-right: 30px;
    }
    .card-2 {
        margin-left: 30px;
    }
    .c-desc {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card-1 {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .card-2 {
        margin-left: 0;
    }
    .card-1, .card-2 {
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 350px;
    }
}


/* REFERENCIAK */

.ref-title h1 {
    text-align: center;
    padding-bottom: 60px;
}

.ref-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.ref-content {
    display: flex;
    width: 80vw;
    justify-content: center;
}

.col-1, .col-2, .col-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-1 img, .col-2 img, .col-3 img {
    width: 25vw;
    height: 20vw;
    object-fit: cover;
    padding: 30px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

@media screen and (max-width: 1100px) {
    .ref-content {
        flex-direction: column;
        width: 100vw;
    }
    .col-1, .col-2, .col-3 {
        flex-direction: row;
    }
    .col-1 img, .col-2 img, .col-3 img {
        width: 40vw;
        height: 35vw;
        padding: 20px;
    }
}

@media screen and (max-width: 850px) {
    .col-1 img, .col-2 img, .col-3 img {
        width: 45vw;
        height: 40vw;
        padding: 10px;
    }
}

@media screen and (max-width: 650px) {
    .col-1, .col-2, .col-3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-1 img, .col-2 img, .col-3 img {
        width: 85vw;
        height: 65vw;
    }
}

/* KAPCSOLAT */

.cont-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 35px;
}

.cont-title h1 {
    text-align: center;
    margin-bottom: 70px;
}

.contact {
    width: 500px;
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 53, 61, 0.1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.contact label {
    margin-bottom: 10px;
    background: none;
}

.contact input {
    margin-bottom: 20px;
    padding-left: 15px;
    width: 400px;
    height: 40px;
    font-size: 14px;
    text-align: left;
    top: 0;
    left: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: none;
}

.contact input:focus {
    border: 2px solid var(--narancs);
}

.details {
    height: 100px !important;
    width: 400px;
    resize: none;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding-left: 15px;
    padding-top: 15px;
}

.contact button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 50px;
    width: 180px;
    background-color: var(--narancs);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-top: 30px;
}

.contact button:hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.contact span {
    background: none;
    padding-top: 10px;
    font-size: 14px;
    display: none;
}

.contact span.disabled {
    color: red;
}

/* BLOBS */